{{ define "Index" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Loja</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      {{range .}}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Description}}</td>
        <td>{{.Price}}</td>
        <td>{{.Quantity}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</body>

</html>
{{end}}
