{{ define "Index" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Loja</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Camiseta</td>
        <td>Camiseta X</td>
        <td>29</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Notebook</td>
        <td>Notebook Y</td>
        <td>1999</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>
</body>

</html>
{{end}}
