{{ define "NewProduct" }}
{{template "_head"}}

<body>
  <nav class="navbar navbar-light bg-light mb-4">
    <a class="navbar-brand" href="/">Alura Loja</a>
  </nav>
  <div class="container">


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-5">Novo produto</h1>
        <p class="lead">Insira os detalhes</p>
      </div>
    </div>
    <form method="POST" action="insert">
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="preco">Preço:</label>
            <input type="number" name="preco" class="form-control" step="0.01">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="number" name="quantidade" class="form-control">
          </div>
        </div>
      </div>
      <button type="submit" value="salvar" class="btn btn-success">Salvar</button>
      <a class="btn btn-info" href="/">Voltar</a>
    </form>
</body>

</html>
</div>
</body>

</html>
{{end}}
